<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home Page</title>
  </head>
  <body>
    <h1 id="indexHeader">Welcome to the Secret Spot, {{name.username}}!</h1>
    <a id="logOut"href="/logout">Log Out</a>

  
  </body>
</html>
